################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/API CRUD Certo/.vs/API CRUD Certo.slnx/FileContentIndex
/API CRUD Certo/.vs/API CRUD Certo.slnx/DesignTimeBuild
/API CRUD Certo/.vs/API CRUD Certo.slnx/v18
/API CRUD Certo/.vs/CopilotSnapshots/1BDEA3480E5D6041A0FDA29440146357
/API CRUD Certo/.vs/ProjectEvaluation
/API CRUD Certo/API CRUD Certo/bin/Debug/net10.0
/API CRUD Certo/.vs/API CRUD Certo.slnx
/API CRUD Certo/.vs/API CRUD Certo/CopilotIndices/18.11.979.32481
/API CRUD Certo/API CRUD Certo/obj
